In [1]:
import pandas as pd
import numpy as np

In [2]:
df_albany = pd.read_csv('../cleaned-data-frames/albany.csv')

In [3]:
target = pd.read_csv('../cleaned-data-frames/target-electricity-consumption.csv')

In [4]:
# Making the lengths same
df_albany = df_albany.iloc[0:7560,:]
display(df_albany)
display(target)

df_albany.__delitem__('name')

,Unnamed: 0,Unnamed: 0.1,name,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,26277,"ALBANY INTERNATIONAL AIRPORT, NY US",1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,26278,"ALBANY INTERNATIONAL AIRPORT, NY US",2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,26279,"ALBANY INTERNATIONAL AIRPORT, NY US",3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,26280,"ALBANY INTERNATIONAL AIRPORT, NY US",4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,26281,"ALBANY INTERNATIONAL AIRPORT, NY US",5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,33832,"ALBANY INTERNATIONAL AIRPORT, NY US",20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,33833,"ALBANY INTERNATIONAL AIRPORT, NY US",21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,33834,"ALBANY INTERNATIONAL AIRPORT, NY US",22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,33835,"ALBANY INTERNATIONAL AIRPORT, NY US",23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,33836,"ALBANY INTERNATIONAL AIRPORT, NY US",24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0              0      0  2020      1    1     1      15417.0
1              1    315  2020      1    1     2      14891.0
2              2    630  2020      1    1     3      14506.0
3              3    945  2020      1    1     4      14226.0
4              4   1260  2020      1    1     5      14211.0
...          ...    ...   ...    ...  ...   ...          ...
7531        7531   6299  2020     11   10    20      17489.0
7532        7532   6614  2020     11   10    21      16750.0
7533        7533   6929  2020     11   10    22      15963.0
7534        7534   7244  2020     11   10    23      15060.0
7535        7535   7559  2020     11   10    24      14126.0

[7536 rows x 7 columns]

In [5]:
df_albany = df_albany.reset_index()
target = target.reset_index()

In [6]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

clean_dataset(df_albany)
clean_dataset(target)

display(df_albany)
display(target)

,index,Unnamed: 0,Unnamed: 0.1,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,0,26277,1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,1,26278,2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,2,26279,3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,3,26280,4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,4,26281,5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,7555,33832,20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,7556,33833,21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,7557,33834,22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,7558,33835,23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,7559,33836,24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      level_0  Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0           0           0      0  2020      1    1     1      15417.0
1           1           1    315  2020      1    1     2      14891.0
2           2           2    630  2020      1    1     3      14506.0
3           3           3    945  2020      1    1     4      14226.0
4           4           4   1260  2020      1    1     5      14211.0
...       ...         ...    ...   ...    ...  ...   ...          ...
7531     7531        7531   6299  2020     11   10    20      17489.0
7532     7532        7532   6614  2020     11   10    21      16750.0
7533     7533        7533   6929  2020     11   10    22      15963.0
7534     7534        7534   7244  2020     11   10    23      15060.0
7535     7535        7535   7559  2020     11   10    24      14126.0

[7535 rows x 8 columns]

In [7]:
# Performing linear regression
from sklearn.linear_model import LinearRegression

y = target.Consumption

x = df_albany[['AWT26_Power',
       'AWP_200_Power', 'D2CF_200_Power', 'AN_Bonus_150/30_Power',
       'Aria_20_Power', 'WWD-1_D64_Power','Solar_AllMax',
       'Solar_TrinaSolar', 'Solar_Mitsubishi', 'Solar_FirstSolar']]
X=x.iloc[:7535,:]

X = X/200

In [8]:
X.iloc[1:60,:]

,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
1,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
2,0.096198,0.099395,0.244240,0.151130,0.028449,1.323716,0.000000,0.000000,0.000000,0.000000
3,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
4,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
5,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
6,0.096198,0.099395,0.244240,0.151130,0.028449,1.323716,0.000000,0.000000,0.000000,0.000000
7,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.004934,0.005509,0.004111,0.007154
8,0.168243,0.168036,0.322209,0.223392,0.034937,1.729052,0.034383,0.038395,0.028648,0.049851
9,0.283144,0.256901,0.426401,0.318394,0.043369,2.295233,0.068415,0.076397,0.056994,0.099183
10,0.336228,0.291066,0.472584,0.355293,0.046860,2.548493,0.531242,0.593220,0.441518,0.769089
11,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.681879,0.761432,0.566227,0.986672
12,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.672022,0.750425,0.558067,0.972435
13,0.483333,0.369587,0.598860,0.440674,0.055852,3.230578,0.443687,0.495451,0.368916,0.642503
14,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.154232,0.172226,0.128431,0.223539
15,0.364126,0.307611,0.496714,0.373229,0.048631,2.680356,0.198825,0.222021,0.165528,0.288133
16,0.233993,0.221649,0.382998,0.280534,0.039946,2.057513,0.017888,0.019975,0.014905,0.025936
17,0.189063,0.185885,0.342017,0.242355,0.036591,1.835175,0.000000,0.000000,0.000000,0.000000
18,0.168243,0.168036,0.322209,0.223392,0.034937,1.729052,0.000000,0.000000,0.000000,0.000000
19,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
20,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
21,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
22,0.129965,0.132930,0.283301,0.186291,0.031669,1.524129,0.000000,0.000000,0.000000,0.000000
23,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
24,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
25,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
26,0.096198,0.099395,0.244240,0.151130,0.028449,1.323716,0.000000,0.000000,0.000000,0.000000
27,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
28,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
29,0.129965,0.132930,0.283301,0.186291,0.031669,1.524129,0.000000,0.000000,0.000000,0.000000
30,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
31,0.129965,0.132930,0.283301,0.186291,0.031669,1.524129,0.016439,0.018357,0.013698,0.023836
32,0.168243,0.168036,0.322209,0.223392,0.034937,1.729052,0.170430,0.190313,0.141911,0.247007
33,0.309217,0.274148,0.449139,0.336997,0.045106,2.420005,0.320358,0.357733,0.266551,0.464095
34,0.364126,0.307611,0.496714,0.373229,0.048631,2.680356,0.435425,0.486224,0.362070,0.630564
35,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.511923,0.571648,0.425502,0.741162
36,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.530771,0.592694,0.441118,0.768399
37,0.483333,0.369587,0.598860,0.440674,0.055852,3.230578,0.478822,0.534684,0.398054,0.693305
38,0.452529,0.354743,0.572657,0.424502,0.054030,3.090954,0.269348,0.300772,0.224161,0.390252
39,0.364126,0.307611,0.496714,0.373229,0.048631,2.680356,0.114504,0.127863,0.095368,0.165977
40,0.233993,0.221649,0.382998,0.280534,0.039946,2.057513,0.017901,0.019989,0.014916,0.025955
41,0.189063,0.185885,0.342017,0.242355,0.036591,1.835175,0.000000,0.000000,0.000000,0.000000
42,0.168243,0.168036,0.322209,0.223392,0.034937,1.729052,0.000000,0.000000,0.000000,0.000000
43,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
44,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
45,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
46,0.129965,0.132930,0.283301,0.186291,0.031669,1.524129,0.000000,0.000000,0.000000,0.000000
47,0.148541,0.150346,0.302688,0.204664,0.033296,1.625601,0.000000,0.000000,0.000000,0.000000
48,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
49,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
50,0.096198,0.099395,0.244240,0.151130,0.028449,1.323716,0.000000,0.000000,0.000000,0.000000
51,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
52,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
53,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
54,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.000000,0.000000,0.000000,0.000000
55,0.112519,0.115905,0.263879,0.168403,0.030053,1.423811,0.001647,0.001839,0.001372,0.002388
56,0.168243,0.168036,0.322209,0.223392,0.034937,1.729052,0.034408,0.038422,0.028669,0.049887
57,0.283144,0.256901,0.426401,0.318394,0.043369,2.295233,0.155580,0.173731,0.129555,0.225494
58,0.336228,0.291066,0.472584,0.355293,0.046860,2.548493,0.336583,0.375851,0.280025,0.487573
59,0.422344,0.339465,0.546829,0.407860,0.052217,2.952217,0.363635,0.406059,0.302486,0.526715

In [9]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(X,y)

LinearRegression()

In [10]:
r_sq = regr.score(X, y)
print(r_sq)

0.16307322502638721

In [11]:
regr.coef_

array([   34981.11512425,  1997511.47522609,  -589209.11768984,
       -2016816.55367306,  3184262.17945834,    79041.81923253,
        -110379.33721121,  -123256.92655156,   150127.70404768,
          87757.16339715])

In [12]:
from sklearn.linear_model import Lasso
lin = Lasso(alpha=0.01,positive=True)
lin.fit(X,y)

Lasso(alpha=0.01, positive=True)

In [13]:
lin.coef_

array([0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 3.03806142e+03, 2.89681818e-02,
       6.11098039e-01, 0.00000000e+00])