In [16]:
import pandas as pd
import numpy as np

In [17]:
target=pd.read_csv('../cleaned-data-frames/target-electricity-consumption.csv')

In [18]:
target2 = target

In [7]:
index= target.isin([np.nan])
target[index]

      Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0            NaN    NaN   NaN    NaN  NaN   NaN          NaN
1            NaN    NaN   NaN    NaN  NaN   NaN          NaN
2            NaN    NaN   NaN    NaN  NaN   NaN          NaN
3            NaN    NaN   NaN    NaN  NaN   NaN          NaN
4            NaN    NaN   NaN    NaN  NaN   NaN          NaN
...          ...    ...   ...    ...  ...   ...          ...
7531         NaN    NaN   NaN    NaN  NaN   NaN          NaN
7532         NaN    NaN   NaN    NaN  NaN   NaN          NaN
7533         NaN    NaN   NaN    NaN  NaN   NaN          NaN
7534         NaN    NaN   NaN    NaN  NaN   NaN          NaN
7535         NaN    NaN   NaN    NaN  NaN   NaN          NaN

[7536 rows x 7 columns]

In [8]:
print(index)

      Unnamed: 0  index   Year  Month    Day   Hour  Consumption
0          False  False  False  False  False  False        False
1          False  False  False  False  False  False        False
2          False  False  False  False  False  False        False
3          False  False  False  False  False  False        False
4          False  False  False  False  False  False        False
...          ...    ...    ...    ...    ...    ...          ...
7531       False  False  False  False  False  False        False
7532       False  False  False  False  False  False        False
7533       False  False  False  False  False  False        False
7534       False  False  False  False  False  False        False
7535       False  False  False  False  False  False        False

[7536 rows x 7 columns]

In [9]:
target.dropna(inplace=True)

In [10]:
target

      Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0              0      0  2020      1    1     1      15417.0
1              1    315  2020      1    1     2      14891.0
2              2    630  2020      1    1     3      14506.0
3              3    945  2020      1    1     4      14226.0
4              4   1260  2020      1    1     5      14211.0
...          ...    ...   ...    ...  ...   ...          ...
7531        7531   6299  2020     11   10    20      17489.0
7532        7532   6614  2020     11   10    21      16750.0
7533        7533   6929  2020     11   10    22      15963.0
7534        7534   7244  2020     11   10    23      15060.0
7535        7535   7559  2020     11   10    24      14126.0

[7535 rows x 7 columns]

In [19]:
target2['Consumption'].isnull().values.any()

True

In [22]:
target2.iloc[7511,:]

Unnamed: 0     7511.0
index          7558.0
Year           2020.0
Month            11.0
Day               9.0
Hour             24.0
Consumption       0.0
Name: 7511, dtype: float64

In [23]:
target2['Consumption'].fillna(value=target2['Consumption'].mean(), inplace=True)

In [24]:
target2.iloc[7511,:]

Unnamed: 0     7511.0
index          7558.0
Year           2020.0
Month            11.0
Day               9.0
Hour             24.0
Consumption       0.0
Name: 7511, dtype: float64