In [1]:
import pandas as pd
import numpy as np

In [2]:
df_albany = pd.read_csv('../cleaned-data-frames/albany.csv')

In [3]:
target = pd.read_csv('../cleaned-data-frames/target-electricity-consumption.csv')

In [4]:
# Making the lengths same
df_albany = df_albany.iloc[0:7560,:]
display(df_albany)
display(target)

df_albany.__delitem__('name')

,Unnamed: 0,Unnamed: 0.1,name,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,26277,"ALBANY INTERNATIONAL AIRPORT, NY US",1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,26278,"ALBANY INTERNATIONAL AIRPORT, NY US",2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,26279,"ALBANY INTERNATIONAL AIRPORT, NY US",3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,26280,"ALBANY INTERNATIONAL AIRPORT, NY US",4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,26281,"ALBANY INTERNATIONAL AIRPORT, NY US",5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,33832,"ALBANY INTERNATIONAL AIRPORT, NY US",20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,33833,"ALBANY INTERNATIONAL AIRPORT, NY US",21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,33834,"ALBANY INTERNATIONAL AIRPORT, NY US",22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,33835,"ALBANY INTERNATIONAL AIRPORT, NY US",23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,33836,"ALBANY INTERNATIONAL AIRPORT, NY US",24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0              0      0  2020      1    1     1      15417.0
1              1    315  2020      1    1     2      14891.0
2              2    630  2020      1    1     3      14506.0
3              3    945  2020      1    1     4      14226.0
4              4   1260  2020      1    1     5      14211.0
...          ...    ...   ...    ...  ...   ...          ...
7531        7531   6299  2020     11   10    20      17489.0
7532        7532   6614  2020     11   10    21      16750.0
7533        7533   6929  2020     11   10    22      15963.0
7534        7534   7244  2020     11   10    23      15060.0
7535        7535   7559  2020     11   10    24      14126.0

[7536 rows x 7 columns]

In [5]:
df_albany = df_albany.reset_index()
target = target.reset_index()

In [6]:
def clean_dataset(df):
    assert isinstance(df, pd.DataFrame), "df needs to be a pd.DataFrame"
    df.dropna(inplace=True)
    indices_to_keep = ~df.isin([np.nan, np.inf, -np.inf]).any(1)
    return df[indices_to_keep].astype(np.float64)

clean_dataset(df_albany)
clean_dataset(target)

display(df_albany)
display(target)

,index,Unnamed: 0,Unnamed: 0.1,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,0,26277,1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,1,26278,2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,2,26279,3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,3,26280,4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,4,26281,5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7555,7555,7555,33832,20,11,11,5.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7556,7556,7556,33833,21,11,11,4.9,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7557,7557,7557,33834,22,11,11,4.6,3.3,13.380017,13.684076,40.707397,23.794235,5.053304,224.012059,0.0,0.0,0.0,0.0,0.0
7558,7558,7558,33835,23,11,11,4.2,3.4,16.199175,16.705028,44.838072,26.921667,5.370642,244.565063,0.0,0.0,0.0,0.0,0.0
7559,7559,7559,33836,24,11,12,3.7,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0

      level_0  Unnamed: 0  index  Year  Month  Day  Hour  Consumption
0           0           0      0  2020      1    1     1      15417.0
1           1           1    315  2020      1    1     2      14891.0
2           2           2    630  2020      1    1     3      14506.0
3           3           3    945  2020      1    1     4      14226.0
4           4           4   1260  2020      1    1     5      14211.0
...       ...         ...    ...   ...    ...  ...   ...          ...
7531     7531        7531   6299  2020     11   10    20      17489.0
7532     7532        7532   6614  2020     11   10    21      16750.0
7533     7533        7533   6929  2020     11   10    22      15963.0
7534     7534        7534   7244  2020     11   10    23      15060.0
7535     7535        7535   7559  2020     11   10    24      14126.0

[7535 rows x 8 columns]

In [7]:
# Performing linear regression
from sklearn.linear_model import LinearRegression

y = target.Consumption

x = df_albany[['AWT26_Power',
       'AWP_200_Power', 'D2CF_200_Power', 'AN_Bonus_150/30_Power',
       'Aria_20_Power', 'WWD-1_D64_Power','Solar_AllMax',
       'Solar_TrinaSolar', 'Solar_Mitsubishi', 'Solar_FirstSolar']]
X=x.iloc[:7535,:]

#X = X/200

In [8]:
X.iloc[1:60,:]

,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
1,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
2,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.000000,0.000000,0.000000,0.000000
3,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
4,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
5,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
6,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.000000,0.000000,0.000000,0.000000
7,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.986732,1.101851,0.822258,1.430742
8,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,6.876658,7.678935,5.729635,9.970219
9,56.628858,51.380169,85.280248,63.678801,8.673749,459.046564,13.683046,15.279401,11.398883,19.836675
10,67.245624,58.213298,94.516732,71.058603,9.371991,509.698668,106.248340,118.643979,88.303584,153.817824
11,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,136.375800,152.286310,113.245385,197.334357
12,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,134.404418,150.084934,111.613432,194.486974
13,96.666535,73.917454,119.772045,88.134760,11.170466,646.115550,88.737448,99.090150,73.783109,128.500658
14,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,30.846470,34.445225,25.686298,44.707838
15,72.825277,61.522281,99.342838,74.645739,9.726115,536.071292,39.765014,44.404266,33.105655,57.626664
16,46.798563,44.329774,76.599659,56.106748,7.989283,411.502543,3.577606,3.994993,2.981088,5.187272
17,37.812514,37.176964,68.403341,48.471016,7.318193,367.035015,0.000000,0.000000,0.000000,0.000000
18,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.000000,0.000000,0.000000,0.000000
19,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
20,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
21,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
22,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,0.000000,0.000000,0.000000,0.000000
23,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
24,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
25,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
26,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.000000,0.000000,0.000000,0.000000
27,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
28,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
29,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,0.000000,0.000000,0.000000,0.000000
30,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
31,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,3.287820,3.671399,2.739643,4.767127
32,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,34.085992,38.062692,28.382151,49.401309
33,61.843345,54.829687,89.827828,67.399416,9.021163,484.000910,64.071600,71.546620,53.310125,92.818995
34,72.825277,61.522281,99.342838,74.645739,9.726115,536.071292,87.084937,97.244847,72.414096,126.112787
35,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,102.384668,114.329546,85.100366,148.232398
36,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,106.154155,118.538806,88.223694,153.679820
37,96.666535,73.917454,119.772045,88.134760,11.170466,646.115550,95.764357,106.936866,79.610895,138.661047
38,90.505842,70.948673,114.531393,84.900384,10.805911,618.190761,53.869612,60.154400,44.832168,78.050370
39,72.825277,61.522281,99.342838,74.645739,9.726115,536.071292,22.900759,25.572514,19.073521,33.195410
40,46.798563,44.329774,76.599659,56.106748,7.989283,411.502543,3.580180,3.997868,2.983233,5.191004
41,37.812514,37.176964,68.403341,48.471016,7.318193,367.035015,0.000000,0.000000,0.000000,0.000000
42,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.000000,0.000000,0.000000,0.000000
43,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
44,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
45,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
46,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,0.000000,0.000000,0.000000,0.000000
47,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.000000,0.000000,0.000000,0.000000
48,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
49,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
50,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.000000,0.000000,0.000000,0.000000
51,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
52,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
53,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
54,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.000000,0.000000,0.000000,0.000000
55,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.329332,0.367754,0.274441,0.477529
56,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,6.881572,7.684422,5.733730,9.977344
57,56.628858,51.380169,85.280248,63.678801,8.673749,459.046564,31.116038,34.746243,25.910938,45.098712
58,67.245624,58.213298,94.516732,71.058603,9.371991,509.698668,67.316575,75.170175,56.004904,97.514621
59,84.468836,67.892995,109.365899,81.572045,10.443390,590.443349,72.726988,81.211803,60.497172,105.342925

In [9]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(X,y)

LinearRegression()

In [10]:
r_sq = regr.score(X, y)
print(r_sq)

0.16307322502638666

In [11]:
regr.coef_

array([   174.90557562,   9987.55737613,  -2946.04558845, -10084.08276837,
        15921.31089729,    395.20909616,   -551.89668605,   -616.28463276,
          750.63852024,    438.78581698])

In [12]:
from sklearn.linear_model import Lasso
lin = Lasso(alpha=1,max_iter=1000,fit_intercept=True,
            positive=True)
lin.fit(X,y)

Lasso(alpha=1, positive=True)

In [13]:
lin.coef_

array([0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
       0.00000000e+00, 0.00000000e+00, 1.51904407e+01, 7.24204545e-05,
       3.27407872e-03, 0.00000000e+00])

def generate_data():
    """
    We will generate data with a clear pattern.
    This ensures we have an idea of the desired result.
    This is only for demonstration purposes, real data is needed in practice.
    """
    coeff = [0.4, -0.3, 0.2, -0.1]
    x = [[random() for j in range(len(coeff))] for i in range(1000)]
    y = [dot(i, coeff) for i in x]
    return array(x), array(y)

In [24]:
from random import random, sample, choice
from math import floor
from tqdm import tqdm
from numpy import array, dot, mean
from numpy.linalg import pinv
from sys import exit

In [25]:

def multiple_linear_regression(inputs, outputs):
    """
    Get the best expected outcome.
    This is expected to equal the coefficients in generate_data().
    """
    X, Y = array(inputs), array(outputs)
    X_t, Y_t = X.transpose(), Y.transpose()
    coeff = dot((pinv((dot(X_t, X)))), (dot(X_t, Y)))
    Y_p = dot(X, coeff)
    Y_mean = mean(Y)
    SST = array([(i - Y_mean) ** 2 for i in Y]).sum()
    SSR = array([(i - j) ** 2 for i, j in zip(Y, Y_p)]).sum()
    COD = (1 - (SSR / SST)) * 100.0
    av_error = (SSR / len(Y))
    return {'COD': COD, 'coeff': coeff, 'error': av_error}

In [26]:
def check_termination_condition(best_individual):
    """
    Check if the current_best_individual is better of equal to the expected.
    """
    if ((best_individual['COD'] >= 99.0)
            or (generation_count == max_generations)):
        return True
    else:
        return False

In [27]:
def create_individual(individual_size):
    """
    Create an individual.
    """
    return [random() for i in range(individual_size)]


def create_population(individual_size, population_size):
    """
    Create an initial population.
    """
    return [create_individual(individual_size) for i in range(population_size)]

In [28]:
def get_fitness(individual, inputs):
    """
    Calculate the fitness of an individual.
    Return the Coefficient of Determination, average error and weight.
    We use the error to get the best individual.
    """
    predicted_outputs = dot(array(inputs), array(individual))
    output_mean = mean(outputs)
    SST = array(
        [(i - output_mean) ** 2 for i in outputs]).sum()
    SSR = array(
        [(i - j) ** 2 for i, j in zip(outputs, predicted_outputs)]).sum()
    COD = (1 - (SSR / SST)) * 100.0
    av_error = (SSR / len(outputs))
    return {'COD': COD, 'error': av_error, 'coeff': individual}

In [29]:
def evaluate_population(population):
    """
    Evaluate a population of individuals and return the best among them.
    """
    fitness_list = [get_fitness(individual, inputs)
                    for individual in tqdm(population)]
    error_list = sorted(fitness_list, key=lambda i: i['error'])
    best_individuals = error_list[: selection_size]
    best_individuals_stash.append(best_individuals[0]['coeff'])
    print('Error: ', best_individuals[0]['error'],
          'COD: ', best_individuals[0]['COD'])
    return best_individuals

In [30]:
def crossover(parent_1, parent_2):
    """
    Return offspring given two parents.
    Unlike real scenarios, genes in the chromosomes aren't necessarily linked.
    """
    child = {}
    loci = [i for i in range(0, individual_size)]
    loci_1 = sample(loci, floor(0.5*(individual_size)))
    loci_2 = [i for i in loci if i not in loci_1]
    chromosome_1 = [[i, parent_1['coeff'][i]] for i in loci_1]
    chromosome_2 = [[i, parent_2['coeff'][i]] for i in loci_2]
    child.update({key: value for (key, value) in chromosome_1})
    child.update({key: value for (key, value) in chromosome_2})
    return [child[i] for i in loci]

In [31]:
def mutate(individual):
    """
    Mutate an individual.
    The gene transform decides whether we'll add or deduct a random value.
    """
    loci = [i for i in range(0, individual_size)]
    no_of_genes_mutated = floor(probability_of_gene_mutating*individual_size)
    loci_to_mutate = sample(loci, no_of_genes_mutated)
    for locus in loci_to_mutate:
        gene_transform = choice([-1, 1])
        change = gene_transform*random()
        individual[locus] = individual[locus] + change
    return individual

In [32]:
def get_new_generation(selected_individuals):
    """
    Given selected individuals, create a new population by mating them.
    Here we also apply variation operations like mutation and crossover.
    """
    parent_pairs = [sample(selected_individuals, 2)
                    for i in range(population_size)]
    offspring = [crossover(pair[0], pair[1]) for pair in parent_pairs]
    offspring_indices = [i for i in range(population_size)]
    offspring_to_mutate = sample(
        offspring_indices,
        floor(probability_of_individual_mutating*population_size)
    )
    mutated_offspring = [[i, mutate(offspring[i])]
                         for i in offspring_to_mutate]
    for child in mutated_offspring:
        offspring[child[0]] = child[1]
    return offspring

In [23]:
inputs = X
outputs = y
individual_size = len(inputs[0])
population_size = 1000
selection_size = floor(0.1*population_size)
max_generations = 50
probability_of_individual_mutating = 0.1
probability_of_gene_mutating = 0.25
best_possible = multiple_linear_regression(inputs, outputs)
best_individuals_stash = [create_individual(individual_size)]
initial_population = create_population(individual_size, 1000)
current_population = initial_population
termination = False
generation_count = 0
while termination is False:
    current_best_individual = get_fitness(best_individuals_stash[-1], inputs)
    print('Generation: ', generation_count)
    best_individuals = evaluate_population(current_population)
    current_population = get_new_generation(best_individuals)
    termination = check_termination_condition(current_best_individual)
    generation_count += 1
else:
    print(get_fitness(best_individuals_stash[-1], inputs))

KeyError: 0