In [8]:
import pandas as pd
import numpy as np

In [9]:
df_albany = pd.read_csv('../cleaned-data-frames/albany.csv')
df_buffalo = pd.read_csv('../cleaned-data-frames/buffalo.csv')
df_binghamton = pd.read_csv('../cleaned-data-frames/binghamton.csv')
df_rochester = pd.read_csv('../cleaned-data-frames/rochester.csv')
df_nyc = pd.read_csv('../cleaned-data-frames/nyc.csv')
target = pd.read_csv('../cleaned-data-frames/target-electricity-consumption.csv')

In [10]:
temp1 = pd.merge(df_albany,df_buffalo,on=['time','month','day'])

In [11]:
temp2 = pd.merge(temp1,df_binghamton, on = ['time','month','day'])

In [12]:
temp3 = pd.merge(temp2,df_rochester, on = ['time','month','day'])

In [13]:
df_combined = pd.merge(temp3,df_nyc, on = ['time','month','day'])

In [15]:
df_combined.columns

Index(['Unnamed: 0_x', 'Unnamed: 0.1_x', 'name_x', 'time', 'month', 'day',
       'hourly_temperature(albany)', 'hourly_wind_speed(albany)',
       'AWT26_Power(albany)', 'AWP_200_Power(albany)',
       'D2CF_200_Power(albany)', 'AN_Bonus_150/30_Power(albany)',
       'Aria_20_Power(albany)', 'WWD-1_D64_Power(albany)', 'solar(albany)',
       'Solar_AllMax(albany)', 'Solar_TrinaSolar(albany)',
       'Solar_Mitsubishi(albany)', 'Solar_FirstSolar(albany)', 'Unnamed: 0_y',
       'Unnamed: 0.1_y', 'name_y', 'hourly_temperature(buffalo)',
       'hourly_wind_speed(buffalo)', 'AWT26_Power(buffalo)',
       'AWP_200_Power(buffalo)', 'D2CF_200_Power(buffalo)',
       'AN_Bonus_150/30_Power(buffalo)', 'Aria_20_Power(buffalo)',
       'WWD-1_D64_Power(buffalo)', 'solar(buffalo)', 'Solar_AllMax(buffalo)',
       'Solar_TrinaSolar(buffalo)', 'Solar_Mitsubishi(buffalo)',
       'Solar_FirstSolar(buffalo)', 'Unnamed: 0_x', 'Unnamed: 0.1_x', 'name_x',
       'hourly_temperature(binghamton)', 'hourly_wind_speed(binghamton)',
       'AWT26_Power(binghamton)', 'AWP_200_Power(binghamton)',
       'D2CF_200_Power(binghamton)', 'AN_Bonus_150/30_Power(binghamton)',
       'Aria_20_Power(binghamton)', 'WWD-1_D64_Power(binghamton)',
       'solar(binghamton)', 'Solar_AllMax(binghamton)',
       'Solar_TrinaSolar(binghamton)', 'Solar_Mitsubishi(binghamton)',
       'Solar_FirstSolar(binghamton)', 'Unnamed: 0_y', 'Unnamed: 0.1_y',
       'name_y', 'hourly_temperature(rochester)',
       'hourly_wind_speed(rochester)', 'AWT26_Power(rochester)',
       'AWP_200_Power(rochester)', 'D2CF_200_Power(rochester)',
       'AN_Bonus_150/30_Power(rochester)', 'Aria_20_Power(rochester)',
       'WWD-1_D64_Power(rochester)', 'solar(rochester)',
       'Solar_AllMax(rochester)', 'Solar_TrinaSolar(rochester)',
       'Solar_Mitsubishi(rochester)', 'Solar_FirstSolar(rochester)',
       'Unnamed: 0', 'Unnamed: 0.1', 'name', 'hourly_temperature(nyc)',
       'hourly_wind_speed(nyc)', 'AWT26_Power(nyc)', 'AWP_200_Power(nyc)',
       'D2CF_200_Power(nyc)', 'AN_Bonus_150/30_Power(nyc)',
       'Aria_20_Power(nyc)', 'WWD-1_D64_Power(nyc)', 'solar(nyc)',
       'Solar_AllMax(nyc)', 'Solar_TrinaSolar(nyc)', 'Solar_Mitsubishi(nyc)',
       'Solar_FirstSolar(nyc)'],
      dtype='object')

In [16]:
df_combined = df_combined.drop(columns=['Unnamed: 0_x', 'Unnamed: 0.1_x', 'name_x', 'Unnamed: 0_y','Unnamed: 0.1_y', 'name_y', 'Unnamed: 0_x', 'Unnamed: 0.1_x', 'name_x',
       'Unnamed: 0_y', 'Unnamed: 0.1_y','name_y', 'Unnamed: 0', 'Unnamed: 0.1', 'name', ])

In [17]:
df_combined

,time,month,day,hourly_temperature(albany),hourly_wind_speed(albany),AWT26_Power(albany),AWP_200_Power(albany),D2CF_200_Power(albany),AN_Bonus_150/30_Power(albany),Aria_20_Power(albany),...,AWP_200_Power(nyc),D2CF_200_Power(nyc),AN_Bonus_150/30_Power(nyc),Aria_20_Power(nyc),WWD-1_D64_Power(nyc),solar(nyc),Solar_AllMax(nyc),Solar_TrinaSolar(nyc),Solar_Mitsubishi(nyc),Solar_FirstSolar(nyc)
0,1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,...,87.595935,146.158186,102.911209,13.003158,782.440766,0,0.0,0.0,0.0,0.0
1,2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,...,87.595935,146.158186,102.911209,13.003158,782.440766,0,0.0,0.0,0.0,0.0
2,3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,...,84.994288,140.955951,100.134501,12.637616,756.203268,0,0.0,0.0,0.0,0.0
3,4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,...,84.994288,140.955951,100.134501,12.637616,756.203268,0,0.0,0.0,0.0,0.0
4,5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,...,84.994288,140.955951,100.134501,12.637616,756.203268,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,19,12,31,-2.6,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,...,95.146062,161.039726,110.770139,14.083493,855.367953,0,0.0,0.0,0.0,0.0
8755,20,12,31,-2.8,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,...,95.146062,161.039726,110.770139,14.083493,855.367953,0,0.0,0.0,0.0,0.0
8756,21,12,31,-3.1,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,...,95.146062,161.039726,110.770139,14.083493,855.367953,0,0.0,0.0,0.0,0.0
8757,22,12,31,-3.3,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,...,92.661031,156.230737,108.224217,13.727014,832.176679,0,0.0,0.0,0.0,0.0
8758,23,12,31,-3.6,3.7,25.993066,26.586012,56.660182,37.258288,6.333786,...,90.148025,151.260179,105.606207,13.366590,807.818521,0,0.0,0.0,0.0,0.0

In [18]:
df_combined.to_csv('combined-cities-dataset.csv')