In [6]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("cleaned-weather-data.csv")

In [3]:
df.

,Unnamed: 0,DATE,HOUR_MIN,SD_WS,AVE_SWS,AVE_RWS,AVE_RWD,WD_SD,AVE_BP,AVE_TEMP,...,MAX_NETT,MAX_GPAR,MAX_GPAT,MAX_DPAR,MAX_DPAT,TOT_NETR,TOT_GSW,TOT_DSW,TOT_GPAR,TOT_DPAR
0,271752,2019-01-01,100,NaN,1.625,1.507,147.6,21.67,744.2,4.8,...,12.0,0.2,32.0,0.2,32.0,NaN,0.144,0.054,0.000003,0.0
1,271753,2019-01-01,200,NaN,2.246,2.138,153.1,17.77,742.2,5.4,...,157.0,0.1,133.0,0.3,122.0,NaN,0.187,0.029,0.000002,0.0
2,271754,2019-01-01,300,NaN,1.135,0.751,345.3,44.72,740.9,5.2,...,219.0,0.1,201.0,0.0,200.0,NaN,0.358,0.078,0.000001,0.0
3,271755,2019-01-01,400,NaN,1.030,0.458,274.3,59.83,740.3,5.1,...,359.0,0.1,343.0,0.0,300.0,NaN,0.337,0.003,0.000000,0.0
4,271756,2019-01-01,500,NaN,1.112,0.956,189.5,27.60,739.5,5.9,...,431.0,0.1,411.0,0.0,400.0,NaN,0.073,0.366,0.000002,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,280507,2019-12-31,2000,NaN,0.862,0.799,170.7,21.59,740.2,2.3,...,NaN,0.4,1911.0,0.0,1900.0,NaN,0.182,0.015,0.000184,0.0
8756,280508,2019-12-31,2100,NaN,1.026,0.973,164.4,18.31,739.9,2.1,...,NaN,0.2,2023.0,0.0,2000.0,NaN,0.193,0.078,0.000384,0.0
8757,280509,2019-12-31,2200,NaN,2.983,2.841,230.6,17.66,740.1,2.1,...,NaN,0.2,2157.0,0.0,2100.0,NaN,0.502,0.100,0.000349,0.0
8758,280510,2019-12-31,2300,NaN,1.306,1.215,239.2,21.40,740.2,1.5,...,NaN,0.2,2204.0,0.0,2200.0,NaN,0.614,0.027,0.000391,0.0
8759,280511,2019-12-31,0,NaN,2.869,2.779,237.2,14.40,740.3,1.2,...,NaN,0.2,2351.0,0.0,2300.0,NaN,0.434,0.464,0.000363,0.0

In [4]:
df.columns

Index(['Unnamed: 0', 'DATE', 'HOUR_MIN', 'SD_WS', 'AVE_SWS', 'AVE_RWS',
       'AVE_RWD', 'WD_SD', 'AVE_BP', 'AVE_TEMP', 'AVE_RH', 'AVE_GSW',
       'AVE_DSW', 'AVE_NETR', 'AVE_GPAR', 'AVE_DPAR', 'MIN_TEMP', 'MIN_TEMT',
       'MIN_RH', 'MIN_RHT', 'MIN_GSW', 'MIN_DSW', 'MIN_NETR', 'MIN_GPAR',
       'MIN_DPAR', 'MAX_WS', 'MAX_WST', 'MAX_TEMP', 'MAX_TEMT', 'MAX_RH',
       'MAX_RHT', 'MAX_GSW', 'MAX_GSWT', 'MAX_DSW', 'MAX_DSWT', 'MAX_NETR',
       'MAX_NETT', 'MAX_GPAR', 'MAX_GPAT', 'MAX_DPAR', 'MAX_DPAT', 'TOT_NETR',
       'TOT_GSW', 'TOT_DSW', 'TOT_GPAR', 'TOT_DPAR'],
      dtype='object')

In [8]:
np.arange(1,25)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24])