In [1]:
# Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
import numpy as np
import seaborn as sns

In [2]:
consumption_file = pd.read_csv('/Users/anshsandhu/Documents/repos/energy-project/nyc-electricity-consumption.csv')
weather_data = pd.read_csv('/Users/anshsandhu/Documents/repos/energy-project/weather-data.csv')

/Users/anshsandhu/opt/anaconda3/envs/data-analysis-qsel/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (14,17,19,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
consumption_file.head(24)

,Balancing Authority,Data Date,Hour Number,Local Time at End of Hour,UTC Time at End of Hour,Demand Forecast (MW),Demand (MW),Net Generation (MW),Total Interchange (MW),Sum(Valid DIBAs) (MW),...,Net Generation (MW) (Adjusted),Net Generation (MW) from Coal,Net Generation (MW) from Natural Gas,Net Generation (MW) from Nuclear,Net Generation (MW) from All Petroleum Products,Net Generation (MW) from Hydropower and Pumped Storage,Net Generation (MW) from Solar,Net Generation (MW) from Wind,Net Generation (MW) from Other Fuel Sources,Net Generation (MW) from Unknown Fuel Sources
0,AEC,07/01/2019,1,07/01/2019 1:00:00 AM,07/01/2019 6:00:00 AM,951,494,651,157,157,...,651,129,518,NaN,NaN,0,NaN,NaN,4,NaN
1,AEC,07/01/2019,2,07/01/2019 2:00:00 AM,07/01/2019 7:00:00 AM,879,459,561,102,102,...,561,126,430,NaN,NaN,0,NaN,NaN,4,NaN
2,AEC,07/01/2019,3,07/01/2019 3:00:00 AM,07/01/2019 8:00:00 AM,837,441,505,64,64,...,505,126,375,NaN,NaN,0,NaN,NaN,4,NaN
3,AEC,07/01/2019,4,07/01/2019 4:00:00 AM,07/01/2019 9:00:00 AM,812,424,495,71,71,...,495,127,363,NaN,NaN,0,NaN,NaN,4,NaN
4,AEC,07/01/2019,5,07/01/2019 5:00:00 AM,07/01/2019 10:00:00 AM,820,434,502,68,68,...,502,127,370,NaN,NaN,0,NaN,NaN,4,NaN
5,AEC,07/01/2019,6,07/01/2019 6:00:00 AM,07/01/2019 11:00:00 AM,860,446,570,124,124,...,570,125,441,NaN,NaN,0,NaN,NaN,4,NaN
6,AEC,07/01/2019,7,07/01/2019 7:00:00 AM,07/01/2019 12:00:00 PM,917,470,638,168,168,...,638,127,506,NaN,NaN,0,NaN,NaN,4,NaN
7,AEC,07/01/2019,8,07/01/2019 8:00:00 AM,07/01/2019 1:00:00 PM,"1,004",511,642,131,131,...,642,126,512,NaN,NaN,0,NaN,NaN,4,NaN
8,AEC,07/01/2019,9,07/01/2019 9:00:00 AM,07/01/2019 2:00:00 PM,"1,106",570,740,170,170,...,740,187,549,NaN,NaN,0,NaN,NaN,4,NaN
9,AEC,07/01/2019,10,07/01/2019 10:00:00 AM,07/01/2019 3:00:00 PM,"1,244",635,872,237,237,...,872,202,666,NaN,NaN,0,NaN,NaN,4,NaN
10,AEC,07/01/2019,11,07/01/2019 11:00:00 AM,07/01/2019 4:00:00 PM,"1,405",708,"1,033",325,325,...,"1,033",212,816,NaN,NaN,0,NaN,NaN,4,NaN
11,AEC,07/01/2019,12,07/01/2019 12:00:00 PM,07/01/2019 5:00:00 PM,"1,517",771,"1,141",370,370,...,"1,141",212,925,NaN,NaN,0,NaN,NaN,4,NaN
12,AEC,07/01/2019,13,07/01/2019 1:00:00 PM,07/01/2019 6:00:00 PM,"1,628",819,"1,172",353,353,...,"1,172",213,954,NaN,NaN,0,NaN,NaN,4,NaN
13,AEC,07/01/2019,14,07/01/2019 2:00:00 PM,07/01/2019 7:00:00 PM,"1,702",856,"1,172",317,317,...,"1,172",213,955,NaN,NaN,0,NaN,NaN,4,NaN
14,AEC,07/01/2019,15,07/01/2019 3:00:00 PM,07/01/2019 8:00:00 PM,"1,739",885,"1,169",285,285,...,"1,169",211,954,NaN,NaN,0,NaN,NaN,4,NaN
15,AEC,07/01/2019,16,07/01/2019 4:00:00 PM,07/01/2019 9:00:00 PM,"1,758",888,"1,142",254,254,...,"1,142",212,927,NaN,NaN,0,NaN,NaN,4,NaN
16,AEC,07/01/2019,17,07/01/2019 5:00:00 PM,07/01/2019 10:00:00 PM,"1,782",893,"1,154",261,261,...,"1,154",210,939,NaN,NaN,0,NaN,NaN,5,NaN
17,AEC,07/01/2019,18,07/01/2019 6:00:00 PM,07/01/2019 11:00:00 PM,"1,769",887,"1,150",263,263,...,"1,150",209,937,NaN,NaN,0,NaN,NaN,4,NaN
18,AEC,07/01/2019,19,07/01/2019 7:00:00 PM,07/02/2019 12:00:00 AM,"1,720",873,"1,164",291,291,...,"1,164",214,946,NaN,NaN,0,NaN,NaN,4,NaN
19,AEC,07/01/2019,20,07/01/2019 8:00:00 PM,07/02/2019 1:00:00 AM,"1,636",819,"1,166",347,347,...,"1,166",210,952,NaN,NaN,0,NaN,NaN,4,NaN
20,AEC,07/01/2019,21,07/01/2019 9:00:00 PM,07/02/2019 2:00:00 AM,"1,566",802,"1,173",371,371,...,"1,173",213,956,NaN,NaN,0,NaN,NaN,4,NaN
21,AEC,07/01/2019,22,07/01/2019 10:00:00 PM,07/02/2019 3:00:00 AM,"1,459",748,"1,159",411,411,...,"1,159",209,945,NaN,NaN,0,NaN,NaN,4,NaN
22,AEC,07/01/2019,23,07/01/2019 11:00:00 PM,07/02/2019 4:00:00 AM,"1,298",678,953,275,275,...,953,210,739,NaN,NaN,0,NaN,NaN,4,NaN
23,AEC,07/01/2019,24,07/02/2019 12:00:00 AM,07/02/2019 5:00:00 AM,"1,159",608,774,166,166,...,774,211,558,NaN,NaN,0,NaN,NaN,5,NaN

In [14]:
weather_data['DATE']= pd.to_datetime(weather_data.DATE)

In [17]:
weather_data = weather_data[(weather_data['DATE'] > '2018-12-31')]

In [18]:
cleaned_weather_data = weather_data.to_csv('/Users/anshsandhu/Documents/repos/energy-project/cleaned-weather-data.csv')