In [4]:
import numpy as np
import pandas as pd

In [6]:
df_albany = pd.read_csv('../city-dataframes/albany.csv')

In [9]:
target = pd.read_csv('../nyiso_loads.csv')

In [10]:
target

,Year,Month,Day,Hr1,Hr2,Hr3,Hr4,Hr5,Hr6,Hr7,...,Hr16,Hr17,Hr18,Hr19,Hr20,Hr21,Hr22,Hr23,Hr24,Hr25
0,2020,1,1,15417,14891,14506,14226,14211,14404,14789,...,17569,18263,19149,19052,18766,18344,17726,16786,15799.0,NaN
1,2020,1,2,15082,14666,14481,14400,14661,15458,16907,...,18421,19099,19989,19837,19395,18766,17930,16783,15636.0,NaN
2,2020,1,3,14772,14219,13922,13810,13997,14742,16154,...,18592,19072,19572,19247,18754,18224,17457,16458,15387.0,NaN
3,2020,1,4,14600,14026,13701,13538,13563,13860,14432,...,17357,17894,18489,18396,18040,17735,17225,16491,15696.0,NaN
4,2020,1,5,14755,14212,14073,13961,13992,14252,14712,...,17600,18444,19519,19436,19118,18669,17935,16924,15937.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,2020,11,6,13366,12929,12672,12587,12798,13475,14708,...,16566,17005,17793,17531,16948,16333,15676,14827,13974.0,NaN
311,2020,11,7,13285,12791,12526,12384,12422,12720,13241,...,15077,15604,16531,16461,16082,15562,15038,14354,13655.0,NaN
312,2020,11,8,13026,12600,12319,12149,12153,12367,12765,...,15037,15659,16658,16612,16169,15662,15003,14234,13502.0,NaN
313,2020,11,9,12949,12550,12363,12308,12550,13359,14694,...,16844,17342,18243,17978,17326,16607,15788,14842,0.0,NaN
314,2020,11,10,13201,12788,12535,12433,12632,13366,14644,...,17160,17621,18450,18175,17489,16750,15963,15060,14126.0,NaN

In [11]:
df_albany

,Unnamed: 0,Unnamed: 0.1,name,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,26277,"ALBANY INTERNATIONAL AIRPORT, NY US",1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,26278,"ALBANY INTERNATIONAL AIRPORT, NY US",2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,26279,"ALBANY INTERNATIONAL AIRPORT, NY US",3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,26280,"ALBANY INTERNATIONAL AIRPORT, NY US",4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,26281,"ALBANY INTERNATIONAL AIRPORT, NY US",5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,8754,35031,"ALBANY INTERNATIONAL AIRPORT, NY US",19,12,31,-2.6,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.0,0.0,0.0,0.0,0.0
8755,8755,35032,"ALBANY INTERNATIONAL AIRPORT, NY US",20,12,31,-2.8,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.0,0.0,0.0,0.0,0.0
8756,8756,35033,"ALBANY INTERNATIONAL AIRPORT, NY US",21,12,31,-3.1,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.0,0.0,0.0,0.0,0.0
8757,8757,35034,"ALBANY INTERNATIONAL AIRPORT, NY US",22,12,31,-3.3,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.0,0.0,0.0,0.0,0.0
8758,8758,35035,"ALBANY INTERNATIONAL AIRPORT, NY US",23,12,31,-3.6,3.7,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,0.0,0.0,0.0,0.0,0.0