In [4]:
import numpy as np
import pandas as pd

In [6]:
df_albany = pd.read_csv('../city-dataframes/albany.csv')

In [9]:
target = pd.read_csv('../nyiso_loads.csv')

In [10]:
target

,Year,Month,Day,Hr1,Hr2,Hr3,Hr4,Hr5,Hr6,Hr7,...,Hr16,Hr17,Hr18,Hr19,Hr20,Hr21,Hr22,Hr23,Hr24,Hr25
0,2020,1,1,15417,14891,14506,14226,14211,14404,14789,...,17569,18263,19149,19052,18766,18344,17726,16786,15799.0,NaN
1,2020,1,2,15082,14666,14481,14400,14661,15458,16907,...,18421,19099,19989,19837,19395,18766,17930,16783,15636.0,NaN
2,2020,1,3,14772,14219,13922,13810,13997,14742,16154,...,18592,19072,19572,19247,18754,18224,17457,16458,15387.0,NaN
3,2020,1,4,14600,14026,13701,13538,13563,13860,14432,...,17357,17894,18489,18396,18040,17735,17225,16491,15696.0,NaN
4,2020,1,5,14755,14212,14073,13961,13992,14252,14712,...,17600,18444,19519,19436,19118,18669,17935,16924,15937.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,2020,11,6,13366,12929,12672,12587,12798,13475,14708,...,16566,17005,17793,17531,16948,16333,15676,14827,13974.0,NaN
311,2020,11,7,13285,12791,12526,12384,12422,12720,13241,...,15077,15604,16531,16461,16082,15562,15038,14354,13655.0,NaN
312,2020,11,8,13026,12600,12319,12149,12153,12367,12765,...,15037,15659,16658,16612,16169,15662,15003,14234,13502.0,NaN
313,2020,11,9,12949,12550,12363,12308,12550,13359,14694,...,16844,17342,18243,17978,17326,16607,15788,14842,0.0,NaN
314,2020,11,10,13201,12788,12535,12433,12632,13366,14644,...,17160,17621,18450,18175,17489,16750,15963,15060,14126.0,NaN

In [25]:
id_var = ["Year","Month","Day"]

t = pd.melt(target,id_var ,var_name="hour", value_name="Consumption")

t.sort_values(by = ["Day","Month"])

      Year  Month  Day  hour  Consumption
0     2020      1    1   Hr1      15417.0
315   2020      1    1   Hr2      14891.0
630   2020      1    1   Hr3      14506.0
945   2020      1    1   Hr4      14226.0
1260  2020      1    1   Hr5      14211.0
...    ...    ...  ...   ...          ...
6604  2020     10   31  Hr21      16729.0
6919  2020     10   31  Hr22      16269.0
7234  2020     10   31  Hr23      15622.0
7549  2020     10   31  Hr24      14882.0
7864  2020     10   31  Hr25          NaN

[7875 rows x 5 columns]

In [11]:
df_albany

,Unnamed: 0,Unnamed: 0.1,name,time,month,day,hourly_temperature,hourly_wind_speed,AWT26_Power,AWP_200_Power,D2CF_200_Power,AN_Bonus_150/30_Power,Aria_20_Power,WWD-1_D64_Power,solar,Solar_AllMax,Solar_TrinaSolar,Solar_Mitsubishi,Solar_FirstSolar
0,0,26277,"ALBANY INTERNATIONAL AIRPORT, NY US",1,1,1,-4.1,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
1,1,26278,"ALBANY INTERNATIONAL AIRPORT, NY US",2,1,1,-4.2,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
2,2,26279,"ALBANY INTERNATIONAL AIRPORT, NY US",3,1,1,-4.4,3.5,19.239583,19.879067,48.847905,30.226074,5.689710,264.743208,0.0,0.0,0.0,0.0,0.0
3,3,26280,"ALBANY INTERNATIONAL AIRPORT, NY US",4,1,1,-4.5,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
4,4,26281,"ALBANY INTERNATIONAL AIRPORT, NY US",5,1,1,-4.7,3.6,22.503703,23.181080,52.775842,33.680575,6.010686,284.762185,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8754,8754,35031,"ALBANY INTERNATIONAL AIRPORT, NY US",19,12,31,-2.6,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.0,0.0,0.0,0.0,0.0
8755,8755,35032,"ALBANY INTERNATIONAL AIRPORT, NY US",20,12,31,-2.8,3.9,33.648570,33.607124,64.441728,44.678486,6.987303,345.810304,0.0,0.0,0.0,0.0,0.0
8756,8756,35033,"ALBANY INTERNATIONAL AIRPORT, NY US",21,12,31,-3.1,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.0,0.0,0.0,0.0,0.0
8757,8757,35034,"ALBANY INTERNATIONAL AIRPORT, NY US",22,12,31,-3.3,3.8,29.708200,30.069277,60.537502,40.932784,6.659245,325.120255,0.0,0.0,0.0,0.0,0.0
8758,8758,35035,"ALBANY INTERNATIONAL AIRPORT, NY US",23,12,31,-3.6,3.7,25.993066,26.586012,56.660182,37.258288,6.333786,304.825735,0.0,0.0,0.0,0.0,0.0

In [13]:
target.transpose()

,0,1,2,3,4,5,6,7,8,9,...,305,306,307,308,309,310,311,312,313,314
Year,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,...,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0,2020.0
Month,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0,11.0
Day,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0
Hr1,15417.0,15082.0,14772.0,14600.0,14755.0,15244.0,15400.0,15448.0,16709.0,16242.0,...,14252.0,13868.0,14624.0,14547.0,13498.0,13366.0,13285.0,13026.0,12949.0,13201.0
Hr2,14891.0,14666.0,14219.0,14026.0,14212.0,14855.0,14958.0,15022.0,16295.0,15717.0,...,13780.0,13548.0,14171.0,14046.0,13122.0,12929.0,12791.0,12600.0,12550.0,12788.0
Hr3,14506.0,14481.0,13922.0,13701.0,14073.0,14607.0,14739.0,14762.0,16051.0,15366.0,...,13449.0,13397.0,13936.0,13784.0,12943.0,12672.0,12526.0,12319.0,12363.0,12535.0
Hr4,14226.0,14400.0,13810.0,13538.0,13961.0,14552.0,14719.0,14736.0,16018.0,15222.0,...,13279.0,13399.0,13846.0,13693.0,12871.0,12587.0,12384.0,12149.0,12308.0,12433.0
Hr5,14211.0,14661.0,13997.0,13563.0,13992.0,14841.0,14979.0,14998.0,16302.0,15401.0,...,13200.0,13694.0,14080.0,13935.0,13109.0,12798.0,12422.0,12153.0,12550.0,12632.0
Hr6,14404.0,15458.0,14742.0,13860.0,14252.0,15797.0,15940.0,15897.0,17212.0,16222.0,...,13246.0,14550.0,14846.0,14709.0,13859.0,13475.0,12720.0,12367.0,13359.0,13366.0
Hr7,14789.0,16907.0,16154.0,14432.0,14712.0,17456.0,17625.0,17562.0,18966.0,17752.0,...,13501.0,15938.0,15999.0,15954.0,15167.0,14708.0,13241.0,12765.0,14694.0,14644.0
Hr8,15135.0,18067.0,17387.0,15192.0,15301.0,18741.0,18904.0,18813.0,20171.0,18948.0,...,13895.0,17164.0,16924.0,16805.0,16080.0,15710.0,13708.0,13118.0,15651.0,15642.0
Hr9,15476.0,18467.0,17981.0,15930.0,15958.0,19182.0,19197.0,19110.0,20345.0,19246.0,...,14373.0,17760.0,17368.0,16919.0,16381.0,16058.0,13990.0,13372.0,15957.0,15962.0
Hr10,15945.0,18503.0,18406.0,16713.0,16567.0,19544.0,19170.0,19258.0,20143.0,19504.0,...,15007.0,17997.0,17499.0,16719.0,16443.0,16015.0,14114.0,13544.0,15926.0,15988.0
Hr11,16280.0,18299.0,18701.0,17238.0,16811.0,19602.0,19076.0,19200.0,19899.0,19651.0,...,15456.0,18066.0,17601.0,16581.0,16219.0,15973.0,14244.0,13725.0,15951.0,16056.0
Hr12,16675.0,18023.0,18732.0,17504.0,16957.0,19291.0,19016.0,19160.0,19645.0,19625.0,...,15614.0,17979.0,17542.0,16528.0,16143.0,15979.0,14338.0,13914.0,16067.0,16185.0
Hr13,17147.0,17835.0,18654.0,17514.0,17078.0,18943.0,19014.0,19133.0,19518.0,19329.0,...,15963.0,17865.0,17409.0,16481.0,16264.0,15967.0,14451.0,14132.0,16153.0,16341.0
Hr14,17331.0,18061.0,18647.0,17439.0,17103.0,18971.0,19013.0,19035.0,19486.0,18989.0,...,16478.0,17784.0,17402.0,16514.0,16350.0,16096.0,14563.0,14325.0,16295.0,16630.0
Hr15,17429.0,18219.0,18594.0,17306.0,17226.0,18851.0,18949.0,19165.0,19605.0,18807.0,...,16668.0,17873.0,17432.0,16678.0,16518.0,16283.0,14749.0,14617.0,16529.0,16853.0
Hr16,17569.0,18421.0,18592.0,17357.0,17600.0,19012.0,19187.0,19588.0,19974.0,18801.0,...,16713.0,18236.0,17554.0,16994.0,16712.0,16566.0,15077.0,15037.0,16844.0,17160.0
Hr17,18263.0,19099.0,19072.0,17894.0,18444.0,19667.0,19898.0,20380.0,20755.0,19239.0,...,16859.0,18968.0,18128.0,17498.0,17267.0,17005.0,15604.0,15659.0,17342.0,17621.0
Hr18,19149.0,19989.0,19572.0,18489.0,19519.0,20631.0,20609.0,21466.0,21644.0,19774.0,...,17262.0,19944.0,19125.0,18341.0,18289.0,17793.0,16531.0,16658.0,18243.0,18450.0
Hr19,19052.0,19837.0,19247.0,18396.0,19436.0,20527.0,20501.0,21502.0,21581.0,19433.0,...,17751.0,19754.0,18993.0,18221.0,18044.0,17531.0,16461.0,16612.0,17978.0,18175.0
Hr20,18766.0,19395.0,18754.0,18040.0,19118.0,20151.0,20105.0,21182.0,21180.0,18897.0,...,17714.0,19165.0,18469.0,17694.0,17458.0,16948.0,16082.0,16169.0,17326.0,17489.0
Hr21,18344.0,18766.0,18224.0,17735.0,18669.0,19532.0,19513.0,20599.0,20549.0,18287.0,...,17210.0,18403.0,17770.0,17035.0,16776.0,16333.0,15562.0,15662.0,16607.0,16750.0
Hr22,17726.0,17930.0,17457.0,17225.0,17935.0,18665.0,18594.0,19767.0,19580.0,17572.0,...,16621.0,17497.0,16937.0,16160.0,15966.0,15676.0,15038.0,15003.0,15788.0,15963.0
Hr23,16786.0,16783.0,16458.0,16491.0,16924.0,17440.0,17382.0,18534.0,18357.0,16594.0,...,15901.0,16337.0,15990.0,15112.0,14995.0,14827.0,14354.0,14234.0,14842.0,15060.0
Hr24,15799.0,15636.0,15387.0,15696.0,15937.0,16252.0,16242.0,17458.0,17136.0,15544.0,...,15140.0,15344.0,15181.0,14159.0,14080.0,13974.0,13655.0,13502.0,0.0,14126.0
Hr25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14427.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
target.melt(target, value_name="0")

Empty DataFrame
Columns: [Year, Month, Day, Hr1, Hr2, Hr3, Hr4, Hr5, Hr6, Hr7, Hr8, Hr9, Hr10, Hr11, Hr12, Hr13, Hr14, Hr15, Hr16, Hr17, Hr18, Hr19, Hr20, Hr21, Hr22, Hr23, Hr24, Hr25, variable, 0]
Index: []

[0 rows x 30 columns]

In [ ]:
target.melt(df,["religion"],var_name="income", value_name="freq")