In [1]:
import numpy as np
import pandas as pd

In [78]:
x1 = np.random.randint(100,size=(20))
x2 = np.random.randint(100,size=(20))
x3 = np.random.randint(100,size=(20))


y1 = 2*x1 + 3*x2 + 4*x3

y2 = 7*x1 - 2*x2 + x3

In [80]:
XX1 =  {'col1': x1, 'col2': x2, 'col3': x3}
XX1 = pd.DataFrame(data= XX1)
XX1_numpy = XX1.to_numpy()

YY1 = {'col1': y1 }
YY1 = pd.DataFrame(data= YY1)
YY1_numpy = YY1.to_numpy()

YY2 = {'col1': y2 }
YY2 = pd.DataFrame(data= YY2)

In [81]:
YY2

    col1
0    346
1    502
2     33
3   -115
4    528
5     15
6    512
7    591
8    221
9    290
10    52
11    48
12   381
13   353
14   675
15   283
16   566
17   186
18   549
19    90

In [82]:
input = XX1

In [99]:
weights_size = len(input.iloc[0])
solutions_per_problem = 30

pop_size = (solutions_per_problem, weights_size)
new_population = np.random.randint(low = 1, high= 5, size = pop_size)

In [100]:
new_population

array([[4, 2, 4],
       [2, 1, 2],
       [1, 3, 3],
       [4, 1, 4],
       [3, 3, 2],
       [1, 4, 4],
       [2, 3, 2],
       [2, 4, 3],
       [2, 3, 4],
       [2, 4, 3],
       [1, 2, 2],
       [1, 3, 2],
       [3, 3, 1],
       [2, 1, 2],
       [4, 1, 1],
       [2, 3, 4],
       [4, 3, 3],
       [4, 3, 1],
       [4, 4, 1],
       [1, 3, 2],
       [3, 2, 3],
       [3, 2, 3],
       [4, 2, 3],
       [1, 4, 1],
       [1, 1, 3],
       [3, 4, 4],
       [3, 1, 3],
       [1, 4, 3],
       [4, 1, 3],
       [2, 1, 2]])

In [90]:
import ga

num_generations = 5 
num_parents_mating = 4

for generation in range(num_generations):
    
    # Measure the fitness of each chromosome by measuring the deviation 
    # from the target value
    
    fitness

NameError: name 'fitness' is not defined

In [23]:
num_generations = 5

num_parents_mating = 4
for generation in range(num_generations):
     # Measuring the fitness of each chromosome in the population.
    fitness = cal_pop_fitness(equation_inputs, new_population)
    # Selecting the best parents in the population for mating.
    parents = select_mating_pool(new_population, fitness, 
                                       num_parents_mating)
 
     # Generating next generation using crossover.
    offspring_crossover = ga.crossover(parents,
                                        offspring_size=(pop_size[0]-parents.shape[0], num_weights))
 
     # Adding some variations to the offsrping using mutation.
    offspring_mutation = ga.mutation(offspring_crossover)
# Creating the new population based on the parents and offspring.
    new_population[0:parents.shape[0], :] = parents
    new_population[parents.shape[0]:, :] = offspring_mutation

AttributeError: module 'ga' has no attribute 'cal_pop_fitness'

In [91]:
def cal_pop_fitness(target_dataframe, electricity_values, pop):
    # Calculating the fitness value of each solution in the current population.
    # The fitness function calculates the sum of products between each input and its corresponding weight.
    generated_electricity = np.sum(pop*electricity_values, axis=1);
    required_electricity =  target_dataframe['col1']
    error = required_electricity - generated_electricity
    error = error.abs()
    error = error.sum()
    fitness = -error
    
    return fitness


def select_mating_pool(pop, fitness, num_parents):
    # Selecting the best individuals in the current generation as parents for producing the offspring of the next generation.
    parents = numpy.empty((num_parents, pop.shape[1]))

    for parent_num in range(num_parents):

        max_fitness_idx = numpy.where(fitness == numpy.max(fitness))

        max_fitness_idx = max_fitness_idx[0][0]

        parents[parent_num, :] = pop[max_fitness_idx, :]

        fitness[max_fitness_idx] = -99999999999

    return parents

In [104]:
XX1*new_population[0]

    col1  col2  col3
0    260   154   180
1    344   154   216
2     36    58   112
3      8   164   140
4    296    50   240
5     12    84   312
6    344   132   168
7    396   150   192
8    124    50   216
9    220   112    68
10    64    88   112
11    28    66   260
12   316   184    48
13   244   134   240
14   368    10   164
15   228   130    56
16   276    10   372
17   104    42   184
18   292    42   320
19    80   108   232

In [105]:
new_population.shape[1]

3